data
.native-cache
.native-recovery
backtrace*.txt
native/*.exe
.env*
!.env.example
sdk/*
!sdk/JVLinkSetup.exe
!sdk/JVStartup.exe
!sdk/PROMID.DAT
!sdk/ShiftVISTA_Check.exe
!sdk/ShiftVISTA_Update.exe
tests
.coverage
.pytest_cache
.ruff_cache
**/__pycache__
