PC_KEIBA_DATABASE_TARGET=local
DATABASE_URL_LOCAL=postgresql://USER:PASSWORD@LOCAL_HOST:LOCAL_PORT/DATABASE
DATABASE_URL_NEON=postgresql://USER:PASSWORD@NEON_HOST/NEON_DATABASE?sslmode=require
NEXT_PUBLIC_REALTIME_DATA_API_BASE_URL=https://sync-realtime-data.kkk4oru.com
